/assets/**/**
/runtime/**/**
*.sql
*.pyc
*.pyo
*.db
*~
.*
db.sqlite3
__pycache__
/htmlcov/
/reports/
/coverage/
/build/
/manual/_book
/*.egg-info/
MANIFEST
/scripts/data/

!.gitignore
!.isort.cfg
!.travis.yml
!.gitlab-ci.ymlservice/sendpnm
